<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crawlstars.database.followsMapper">
	<select id="getFollowees"  parameterType="String" resultType="com.crawlstars.model.follows">
		select followee from follows where follower=#{follower}
	</select>
	
	<select id="followee_cnt">
		select count(*) as cnt from follows where follower=#{follower}
	</select>
	
	<select id="getFollowers" parameterType="String" resultType="com.crawlstars.model.follows">
        select follower from follows where followee=#{followee}
    </select>
	
	<select id="follower_cnt">
		select count(*) as cnt from follows where followee=#{followee}
	</select>
	
	<select id="getNickByfolloweeId" parameterType="String" resultType="java.lang.String">
    SELECT u.nick AS followee_nick FROM follows f JOIN users u ON f.followee = u.sp_id WHERE f.follower= #{follower}
	</select>
	
	<select id="getNickByfollowerId" parameterType="String" resultType="java.lang.String">
    SELECT u.nick AS follower_nick FROM follows f JOIN users u ON f.follower = u.sp_id WHERE f.followee = #{followee}
	</select>
	
	<delete id="followCancel" parameterType="String">
		delete from follows where follower=#{follower} and followee=#{followee}
	</delete>
</mapper>