<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crawlstars.database.followsMapper">
	<select id="followee">
		select followee from follows where follower=#{follower}
	</select>
	
	<select id="followee_cnt">
		select count(*) as cnt from follows where follower=#{follower}
	</select>
	
	<select id="follower">
		select follower from follows where followee=#{followee}
	</select>
	
	<select id="follower_cnt">
		select count(*) as cnt from follows where followee=#{followee}
	</select>
</mapper>