<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- db.properties 파일 연결하기 -->
	<properties resource="com/crawlstars/database/db.properties" />
	
	<typeAliases>
		<typeAlias type="com.crawlstars.model.users" alias="users"/>

	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- sql문들을 정의해주는 mapper.xml을 계속해서 만들건데 어디에 있는지 경로를 지정해주는 태그 -->
  <mappers>
    <mapper resource="com/crawlstars/database/usersMapper.xml"/>
    <mapper resource="com/crawlstars/database/playlistsMapper.xml"/>
    <mapper resource="com/crawlstars/database/playlist_songsMapper.xml"/>
	<mapper resource="com/crawlstars/database/followsMapper.xml"/>
	<mapper resource="com/crawlstars/database/PL_REPLY_HASHTAGSMapper.xml"/>
	<mapper resource="com/crawlstars/database/PL_REPLIESMapper.xml"/>
	<mapper resource="com/crawlstars/database/Like_plsMapper.xml"/>
	<mapper resource="com/crawlstars/database/PostsMapper.xml"/>
	<mapper resource="com/crawlstars/database/blocksMapper.xml"/>
	<mapper resource="com/crawlstars/database/Post_reply_hashtagMapper.xml"/>
	<mapper resource="com/crawlstars/database/Post_repliesMapper.xml"/>
	<mapper resource="com/crawlstars/database/Post_hashtagMapper.xml"/>
	<mapper resource="com/crawlstars/database/Post_likesMapper.xml"/>
	
    
  </mappers>
</configuration>
