<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.crawlstars.database.PL_REPLIESMapper">
	<insert id="insert" parameterType="com.crawlstars.model.PL_REPLIES">
		insert into PL_REPLIES values (pl_replies_SEQ.NEXTVAL,#{PL_ID},#{PL_REPLY_CONTENT},SYSDATE,#{SP_ID})
    </insert>
    <select id="getPlReply" parameterType="String" resultType="com.crawlstars.model.PL_REPLIES">
    	select * from PL_REPLIES where PL_ID = #{PL_ID}
    </select>
    <select id="getLastReply" resultType="int">
    	select MAX(PL_REPLY_ID) from PL_REPLIES
    </select>
    
	</mapper>