<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crawlstars.database.Post_repliesMapper">
	<select id="getPostReply" resultType="com.crawlstars.model.Post_replies">
	SELECT a.reply_content, a.post_reply_id, a.replied_at, c.nick as SP_ID, b.hashtag
		FROM post_replies a, post_reply_hashtags b, users c
		WHERE a.post_reply_id = b.post_reply_id(+)
		AND a.sp_id = c.sp_id and a.post_id= #{post_id}	
	</select>
	<insert id="insert" parameterType="com.crawlstars.model.Post_replies">
		insert into post_replies values (post_replies_seq.nextval,#{post_id},#{reply_content},SYSDATE,#{sp_id})
    </insert>
    <select id="getLastReply" parameterType="String" resultType="int">
    	select MAX(post_reply_id) from post_replies where sp_id = #{sP_name}
    </select>
    
</mapper>