<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crawlstars.database.usersMapper">
	<insert id="join" parameterType="users">
     	insert into users values(#{SP_name}, #{nick}, #{gender}, #{birthdate}, #{user_img}, sysdate, #{uesr_type})
    </insert>
    
	<select id="nickCheck" parameterType="String" resultType="boolean">
		select case when count(*)>0 then 1
			else 0
			end result
		from users where nick=#{nick}
	</select>
	
	
</mapper>