<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>NickCheckCon</servlet-name>
  	<display-name>NickCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.NickCheckCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserIdCheckCon</servlet-name>
  	<display-name>UserIdCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.UserIdCheckCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertSonglist</servlet-name>
  	<display-name>insertSonglist</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.insertSonglist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetPLCon</servlet-name>
  	<display-name>GetPLCon</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.GetPLCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreatePLCon</servlet-name>
  	<display-name>CreatePLCon</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.CreatePLCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddReplyCon</servlet-name>
  	<display-name>AddReplyCon</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.AddReplyCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetPlReplyCon</servlet-name>
  	<display-name>GetPlReplyCon</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.GetPlReplyCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FollowsController</servlet-name>
  	<display-name>FollowsController</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.FollowsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getMyPage</servlet-name>
  	<display-name>getMyPage</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.getMyPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getMypost</servlet-name>
  	<display-name>getMypost</display-name>
  	<description></description>
  	<servlet-class>com.crawlstars.controller.getMypost</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NickCheckCon</servlet-name>
  	<url-pattern>/NickCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserIdCheckCon</servlet-name>
  	<url-pattern>/UserIdCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertSonglist</servlet-name>
  	<url-pattern>/insertSonglist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetPLCon</servlet-name>
  	<url-pattern>/GetPLCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreatePLCon</servlet-name>
  	<url-pattern>/CreatePLCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddReplyCon</servlet-name>
  	<url-pattern>/AddReplyCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetPlReplyCon</servlet-name>
  	<url-pattern>/GetPlReplyCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FollowsController</servlet-name>
  	<url-pattern>/FollowsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getMyPage</servlet-name>
  	<url-pattern>/getMyPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getMypost</servlet-name>
  	<url-pattern>/getMypost</url-pattern>
  </servlet-mapping>
</web-app>
